.usercard-xxl,
.roomcard-xxl,
.room-mini,
.conversation-info {
  background-color: #222;
  border-color: #000;
  color: #ddd;
  box-shadow: 0px 1px 3px #111;
}
.roomcard,
.usercard {
  background-color: #161616;
  border: none;
  color: #ddd;
  box-shadow: 0px 1px 3px #111;
}
