#sidebar {
	color: #ddd;

  #info {
    #roomtitle {
      text-shadow: 0px 1px 0px #000;
    }

    #sidebar-menu {
      border-bottom: 1px dotted #222;
    }
  }
}

#sidebar-menu {
	color: transparent;
}
