html,
body {
    background-color: rgb(0, 0, 0);
    background-image: url("http://i.stack.imgur.com/SxaRm.png");
    color: #ddd;
    font-size: 16px;
    font-family: sans-serif;
}

.container {
    padding: 20px;
    max-width: 800px;
}

.container h1 small {
    color: #999;
    font-size: 1.4rem;
}

.control-group {
  padding-left: 20px;
}

.control-group label,
.control-group label input {
  cursor: pointer;
}

.control-group label input {
  margin-right: 10px;
}

input[type='submit'] {
    float: right;
    margin-right: 40px;
    color: #fff;
    border-radius: 10px;
    font-size: 11px;
    padding: 2px 10px;
    cursor: pointer;
    font-family: Verdana, Arial, sans-serif;
    white-space: nowrap;
    border: none;
    background-color: #ff7b18;
}

#message {
    display: inline-block;
    margin-top: 22px;
    text-align: center;
    padding: 6px 8px;
    border-radius: 5px;
    color: #fff;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
